<article class="main">
  <div>
    <h1>À propos</h1>
    <p>
      Ce site web a été créé dans le but de servir de référence pour les cours
      <a href="http://www.polymtl.ca/etudes/cours/projet-de-logiciel-dapplication-web">LOG2990</a> et
      <a href="http://www.polymtl.ca/etudes/cours/conception-de-sites-web-dynam-et-transact">LOG4420</a> à Polytechnique
      Montréal. Il regroupe une panoplie d'informations utiles qui peuvent vous aider à réaliser votre projet intégrateur
      ou vos travaux pratiques.
    </p>
    <p>
      La section «&nbsp;<a href="/tutoriels">Tutoriels</a>&nbsp;» regroupe plusieurs tutoriels sur les technologies utilisées
      dans le cours, afin de faciliter votre apprentissage de celles-ci. La section «&nbsp;<a href="/guide">Guide</a>&nbsp;»,
      elle, réunit un bon nombre de bons exemples et de contre-exemples concernant l'utilisation des technologies web. Il
      constitue en quelque sorte un guide de bonnes pratiques pour le développement web.
    </p>
    <p>
      Dans l'optique d'amener un esprit de collaboration et de transparence, l'ensemble du contenu du site web est
      disponible sur <a href="https://github.com/polymtl-web">notre page GitHub</a>.
    </p>
    <section>
      <h2>Collaborateurs</h2>
      <p>Ce site web a été réalisé en collaboration avec les personnes suivantes:</p>
      <ul class="row">
        <li class="author col">
          <a href="https://github.com/antoinebeland">
            <img alt="Antoine Béland" src="https://avatars.githubusercontent.com/antoinebeland"><br>
            Antoine Béland
          </a>
        </li>
        <li class="author col">
          <a href="https://github.com/Dyc0de">
            <img alt="Dylan Farvaque" src="https://avatars.githubusercontent.com/Dyc0de"><br>
            Dylan Farvaque
          </a>
        </li>
        <li class="author col">
          <a href="https://github.com/mchlggnn">
            <img alt="Michel Gagnon" src="https://avatars.githubusercontent.com/mchlggnn"><br>
            Michel Gagnon
          </a>
        </li>
        <li class="author col">
          <img alt="François Guibault" src="https://avatars.githubusercontent.com/%3Cusername%3E">
          François Guibault
        </li>
        <li class="author col">
          <a href="https://github.com/koslambrou">
            <img alt="Konstantinos Lambrou-Latreille" src="https://avatars.githubusercontent.com/koslambrou"><br>
            Konstantinos Lambrou-Latreille
          </a>
        </li>
        <li class="author col">
          <a href="https://github.com/Bodheem">
            <img alt="Nokolay Radoev" src="https://avatars.githubusercontent.com/Bodheem"><br>
            Nikolay Radoev
          </a>
        </li>
      </ul>
    </section>
  </div>
</article>
