@import '../assets/styles/constants';

// ***** Header *****
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $header-height;
  padding: 0 $header-left-right-padding;
  font-family: $heading-font;
  line-height: $header-height;
  color: $header-text-color;
  text-transform: uppercase;
  background-color: $header-background-color;
  box-shadow: $header-box-shadow;

  h1 {
    display: inline-block;
    margin: 0;
    font-size: $header-h1-font-size;
    font-weight: normal;
    color: $white;
    transition: color ease-out 150ms;

    &:hover {
      color: $very-light-gray;
    }
  }

  .fa-stack {
    position: relative;
    margin-right: 0.2em;
    font-size: 0.95em;

    > .fa-code {
      color: $header-background-color;
    }
  }
}

header > nav {
  display: inline-block;
  height: inherit;
  font-size: $nav-font-size;

  > ul {
    height: inherit;
    padding: 0;
    margin: 0;
    line-height: inherit;
    list-style: none;

    > li {
      display: inline-block;
      height: inherit;

      // sass-lint:disable nesting-depth
      &:not(:last-child) {
        margin-right: $nav-item-spacing;
      }

      &.active > a {
        color: $nav-active-item-color;
        border-bottom: 4px solid $nav-active-item-color;
      }

      &:not(.active) > a:hover {
        color: $nav-hovered-item-color;
      }

      > a {
        display: inherit;
        height: inherit;
        color: $nav-item-color;
        text-decoration: none;
        transition: color ease-out 150ms;
      }
    }
  }
}

header > button {
  position: relative;
  left: -0.5em;
  display: none;
  height: inherit;
  padding: 0 0.3em 0 0.5em;
  font-size: $header-h1-font-size;
  line-height: inherit;
  color: $nav-item-color;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;

  &:hover {
    color: $nav-hovered-item-color;
  }
}

@media screen and (min-width: $extra-large-screen) {
  header {
    padding-right: 2 * $header-left-right-padding;
  }
}

@media screen and (max-width: $medium-screen) {
  header > .visible {
    display: inline-block;
  }

  #site-title {
    display: none;
  }
}

@media screen and (max-width: $small-screen) {
  header {
    height: $header-height-small-screen;
    padding: 0 $header-left-right-padding-small-screen;
    font-size: 0.9em;
    line-height: $header-height-small-screen;

    nav {
      font-size: $nav-font-size * 0.8;
    }
  }
}

// ***** Main *****
main {
  min-height: calc(100vh - #{$header-height + $footer-height});
  margin-top: $header-height;
  margin-bottom: $footer-height;
  box-shadow: $main-box-shadow;
}

@media screen and (max-width: $small-screen) {
  main {
    min-height: calc(100vh - #{$header-height-small-screen + $footer-height});
    margin-top: $header-height-small-screen;
  }
}

// ***** Footer *****
footer {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 75%;
  height: $footer-height;
  padding: $footer-padding;
  margin-left: 25%;
  background-color: $footer-background-color;
  border-top: 1px solid $footer-border-color;

  &.full-width {
    width: 100%;
    margin-left: 0;
  }

  p {
    margin: 0;
    font-size: 0.85em;
  }
}

#license {
  margin-bottom: 0.5em;
}

#polymtl {
  height: $footer-logo-height;
  margin-left: 20px;
}

@media screen and (max-width: $medium-screen) {
  footer {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: $small-screen) {
  #license {
    height: $footer-license-icon-height-small-screen;
  }

  #polymtl {
    height: $footer-logo-height-small-screen;
  }
}
