<header>
  <button (click)="toggleSidebar()" [class.visible]="isOnArticlesPage">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <a class="no-decoration" routerLink="/accueil">
    <h1>
      <span class="fa-stack" aria-hidden="true">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-code fa-stack-1x"></i>
      </span>
      <span id="site-title"> Référence web</span>
    </h1>
  </a>
  <nav class="pull-right">
    <ul>
      <li routerLinkActive="active">
        <a routerLink ="/accueil">Accueil</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink ="/tutoriels">Tutoriels</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink ="/guide">Guide</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</main>
<footer [class.full-width]="!isOnArticlesPage">
  <a class="no-decoration pull-right" href="http://www.polymtl.ca">
    <img id="polymtl" alt="Polytechnique Montréal" src="./assets/images/polymtl.svg">
  </a>
  <p>
    <a class="no-decoration" href="https://creativecommons.org/licenses/by-nd/2.0/ca/legalcode.fr">
      <img id="license" alt="License CC BY-ND" src="./assets/images/by-nd.svg">
    </a><br>
    Le contenu de ce site web est disponible sous la licence CC BY-ND.
  </p>
</footer>
