@import '../../assets/styles/constants';

:host {
  display: flex;
  width: 100%;
  min-height: inherit;
}

#article-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid $gray;
}

.main {
  margin-left: $index-width;

  > div {
    padding-bottom: 80px;
  }
}

.sidebar {
  position: fixed;
  z-index: 1;
  width: $index-width;
  height: calc(100vh - #{$header-height});
  padding: $index-padding;
  overflow: hidden;
  overflow-y: auto;
  font-family: $heading-font;
  font-size: $index-font-size;
  color: $index-color;
  background-color: $index-background-color;
  border-right: 1px solid $index-border-color;
  box-shadow: $index-box-shadow;

  ul {
    list-style: none;

    > li {
      margin-bottom: 0.5em;
    }
  }

  > ul {
    padding: 0;
    margin: 0;

    > li {
      margin-bottom: 1em;
    }

    ul {
      padding-left: 0.6em;
      margin-top: 0.6em;
      font-size: 0.85em;
      border-left: 1px solid $medium-light-gray;

      li > a {
        color: $medium-gray;
        transition: color ease-out 150ms;

        &.active,
        &:hover {
          color: $dark-gray;
        }

        &.active {
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .sidebar {
    width: 100%;
    max-height: 0;
    padding: 0;
    background-color: $index-background-color-small-screen;

    &.visible {
      max-height: 100%;
      padding: $index-padding;
    }
  }

  .main {
    margin-left: 0;
  }
}

@media screen and (max-width: $small-screen) {
  .sidebar {
    height: calc(100vh - #{$header-height-small-screen});

    &.visible {
      padding: $index-padding-small-screen;
    }
  }
}
