<app-not-found *ngIf="selectedType === null || selectedCategoryId === null || selectedArticleId === null"></app-not-found>

<nav aria-label="Index" class="sidebar" *ngIf="selectedCategoryId && selectedArticleId" [class.visible]="isSidebarVisible">
  <ul *ngIf="categories">
    <li *ngFor="let category of categories">{{ category.name }}
      <ul>
        <li *ngFor="let article of category.articles">
          <a [class.active]="category.id === selectedCategoryId && article.id === selectedArticleId"
             routerLink="/{{ selectedType }}/{{ category.id }}/{{ article.id }}" (click)="hideSidebar()"
             [innerHTML]="article.name"></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<article class="main" *ngIf="selectedCategoryId && selectedArticleId">
  <div>
    <ngx-md path="./articles/{{ selectedType }}/{{ selectedCategoryId }}/{{ selectedArticleId }}.md"></ngx-md>
    <div id="article-options">
      <a class="btn pull-right" href="https://github.com/polymtl-web/polymtl-web.github.io/issues/new">
        <i class="fa fa-asterisk" aria-hidden="true"></i>&nbsp; Signaler une coquille
      </a>
    </div>
  </div>
</article>
