@import 'constants';

// ***** General *****
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  font-family: $heading-font;
}

h1:first-child {
  margin-top: 0.5em;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $dark-blue;
  }
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: $code-background-color;
  border-radius: 3px;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}

pre {
  max-width: inherit;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  overflow-wrap: normal;

  &[class*='language'] {
    padding-top: 20px;
  }

  &[class*='language']::before {
    float: right;
    margin-top: -1.2em;
    margin-right: -0.5em;
    font-size: 0.8em;
    color: $code-language-color;
    text-align: right;
  }

  &[class*='css']::before {
    content: 'CSS';
  }

  &[class*='html']::before {
    content: 'HTML';
  }

  &[class*='js']::before {
    content: 'JavaScript';
  }

  &[class*='json']::before {
    content: 'JSON';
  }

  &[class*='typescript']::before {
    content: 'TypeScript';
  }
}

pre code {
  padding: 0;
  font-size: 100%;
  border-radius: 0;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  margin: 2.5em 0;
  border-collapse: collapse;

  thead {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $very-light-gray;
  }

  th,
  td {
    padding: 0.85em;
    font-weight: inherit;
    line-height: 1.4em;
  }

  th {
    text-align: left;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

  td {
    border-bottom: 1px solid $gray;
  }
}

ol,
ul {
  line-height: 1.5em;
}

@media screen and (max-width: $small-screen) {
  body {
    font-size: 0.9em;
  }
}

// ***** Classes *****
.btn {
  padding: 10px;
  color: $dark-gray;
  background-color: $very-light-gray;
  border: 1px solid $gray;
  border-radius: 4px;
  box-shadow: $button-box-shadow;

  &:hover {
    color: $dark-gray;
    background-color: $light-gray;
  }
}

.main {
  position: relative;
  padding: $article-padding;
  overflow: hidden;
  flex: 1;

  > div {
    position: relative;
    height: 100%;
    max-width: $article-max-width;
    margin: auto;
  }
}

.no-decoration {
  text-decoration: none;
}

.panel {
  margin: 2.5em 0;
  box-shadow: $panel-box-shadow;

  > .title {
    padding: 10px;
    color: $white;
    background-color: $medium-gray;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-size: 1.1em;
      font-weight: normal;
    }

    i {
      margin-right: 5px;
    }
  }

  > .content {
    padding: 10px 20px;
    border: 1px solid $medium-gray;

    p {
      margin: 0.6em 0;
      font-size: 1em;
    }
  }
}

.panel.wrong {
  > .title {
    background-color: $red;
  }

  > .content {
    border-color: $red;
  }
}

.panel.good {
  > .title {
    background-color: $green;
  }

  > .content {
    border-color: $green;
  }
}

.pull-right {
  float: right;
}

.row {
  display: flex;
  justify-content: space-between;

  > .col {
    max-width: 100%;
    overflow: hidden;
    flex: 1;

    &:not(:first-child) {
      padding-left: 5px;
    }

    &:not(:last-child) {
      padding-right: 5px;
    }
  }
}

.info {
  padding: 0;
  margin: 1em 0;
  font-size: 0.85em;
  color: $medium-gray;
  list-style: none;

  > li {
    display: inline-block;
  }

  > li:not(:first-child) {
    margin-left: 1em;
  }

  i {
    margin-right: 0.2em;
  }
}

@media screen and (max-width: $large-screen) {
  .row {
    flex-wrap: wrap;

    > .col {
      flex-basis: 100%;

      &:not(:first-child) {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .main {
    padding: $article-padding-medium-screen;
  }
}

@media screen and (max-width: $small-screen) {
  .main {
    padding: $article-padding-small-screen;
  }
}
