<article class="main">
  <div>
    <h1>Accueil</h1>
    <p>
      Ce site web a été créé dans le but de servir de référence pour les cours
      <a href="http://www.polymtl.ca/etudes/cours/projet-de-logiciel-dapplication-web">LOG2990</a> et
      <a href="http://www.polymtl.ca/etudes/cours/conception-de-sites-web-dynam-et-transact">LOG4420</a> à Polytechnique
      Montréal. Il regroupe une panoplie d'informations utiles qui peuvent vous aider à réaliser votre projet intégrateur
      ou vos travaux pratiques.
    </p>
    <p>
      La section «&nbsp;<a href="/tutoriels">Tutoriels</a>&nbsp;» regroupe plusieurs tutoriels sur les technologies utilisées
      dans les cours, afin de faciliter votre apprentissage de celles-ci. La section «&nbsp;<a href="/guide">Guide</a>&nbsp;»,
      elle, réunit un bon nombre de bons exemples et de contre-exemples concernant l'utilisation des technologies web. Il
      constitue en quelque sorte un guide de bonnes pratiques pour le développement web.
    </p>
    <p>
      Dans l'optique d'amener un esprit de collaboration et de transparence, l'ensemble du contenu du site web est
      disponible sur <a href="https://github.com/polymtl-web">notre page GitHub</a>.
    </p>
    <section>
      <h2>Collaborateurs</h2>
      <p>Ce site web a été réalisé en collaboration avec les personnes suivantes:</p>
      <ul class="authors">
        <li class="author" *ngFor="let author of authors">
          <a href="https://github.com/{{ author.account }}">
            <img alt="{{ author.name }}" src="https://avatars.githubusercontent.com/{{ author.account }}"><br>
            {{ author.name }}
          </a>
        </li>
      </ul>
    </section>
  </div>
</article>
